
.testBody {
  text-align: center;
  height: 50%;
  padding: 1%;
}

.title {
  text-align: center;
}

h3 {
  margin: 50px 0 0 0;
  color: #509baa;
}

.submitContainer{
  text-align: center;
}

/*.submitButton {
  margin-left: ;
}*/

.menuButton{
  height: 38px;
  width:48px;
  border: black;

}

.reset-btn {
  margin-right: 9%;
}

.stopwatch-timer {
  font-size: 28px;
  font-weight: 300;
  /*line-height: 160px;*/
  text-align: center;
  margin: 0;
  color:black;
  border-width: 1px 0;
  background-color: white;
}

.stopwatch-laps {
  padding: 0 0 0 20px;
  list-style-type: none;
}

.stopwatch-lap {
  font-size: 20px;
  line-height: 60px;
  padding-right: 20px;
  text-align: right;
  border-bottom: 1px solid #d9dae0;
}

.stopwatch-lap strong {
  float: left;
  color: #7f8083;
  font-weight: 100;
}

.stopwatch-lap strong::before { content: 'Trial ' }

.cardtext{
  padding: 16px 32px !important;
}

.card{
   margin:10px 10px 10px 10px;
}
